<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon"
          type="image/jpeg"
          href="{{ url_for('static', filename='profile_pics/vconnectlogo.jpeg') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='basic.css') }}">

    {% block head %}
    {% endblock %}

</head>

<body>

<header>

    <div class="logo">

        <a href="/dashboard">

            <img src="{{ url_for('static', filename='profile_pics/vconnectlogo.jpeg') }}"
                 alt="VConnect Logo">

        </a>

        <a href="/dashboard" class="logo-text">

            CONNECT

        </a>

    </div>

    <nav>
        <div id="notification">
            <button id="notificationbtn" class="notification-btn">🔔</button>
            <div id="notificationpanel" class="notification-panel">
                <h3 id="h3">Notifications</h3>
                <p>Virat sent you a request to connect</p>
            </div>
        </div>

        <a href="/dashboard">Dashboard</a>

        <a href="/jobs">Jobs</a>

        <a href="/alumni">Alumni</a>

        <a href="/profile">Profile</a>

        <a href="/logout" class="logout-btn">Logout</a>

    </nav>

</header>

<main>
    


    {% block body %}
    
    {% endblock %}

</main>
<script>
    const btn = document.getElementById("notification");
    const panel = document.getElementById("notificationpanel");
    btn.addEventListener("click",function(){
        if(panel.style.display=="none"){
            panel.style.display = "block";
        }
        else{
            panel.style.display="none"
        }
    });
</script>
</body>

</html>