{% extends 'basic.html' %}

{% block head %}
{{ super() }}
<title>Browse Jobs | VConnect</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='browsejobs.css') }}">

{% endblock %}

{% block body %}

<div class="browse-container">

    <div class="page-header">

        <h1>Browse Jobs</h1>

        <p>
            Explore opportunities shared by Vasavi alumni.
        </p>

    </div>

    <form action="/browsejobs" method="GET" class="search-box">

        <input
            type="text"
            name="search"
            placeholder="Search by job title, company or skills..."
            value="{{ request.args.get('search', '') }}">

        <button type="submit">
            Search
        </button>

    </form>

    <div class="jobs-list">

        {% for item in joblist %}

        <div class="job-card">

            <div class="card-top">

                <div>

                    <h2>{{ item['title'] }}</h2>

                    <h3>{{ item['company'] }}</h3>

                </div>

            </div>

            <div class="job-info">

                <span>📍 {{ item['location'] }}</span>

                <span>💼 {{ item['job_type'] }}</span>

                <span>💰 Min Salary NA</span>

            </div>

            <div class="skills">


                    <span class="skill-tag">
                        {{ item['job_description'] | safe }}
                    </span>

                

            </div>

            <div class="bottom">

                <div>

                    <small>Shared by Alumni</small>

                    <p>{{ item['company']}}</p>

                </div>

                <div class="right">

                    <small>{{item['posted_data']}}</small>

                    <a href="">
                        View Details →
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}